/* Resetting some default styles for better consistency across browsers */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
}

section {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

/* Additional spacing for better readability */
p, ul, li {
    margin-bottom: 10px;
}

/* If you have lists in your sections */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Optional hover effect for any links you might add */
a:hover {
    text-decoration: underline;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio for 16:9 */
    overflow: hidden;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.responsive-image-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* This will give a 16:9 aspect ratio. Adjust as needed. */
    height: 0;
    overflow: hidden;
}

.responsive-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  /* Space between tiles */
}

.tile-container > section {
    flex: 0 0 calc(50% - 10px);  /* Takes half of the container's width minus half of the gap */
    box-sizing: border-box;     /* To include any potential padding and border in the element's total width and height */
    max-width: calc(50% - 10px);
}

@media screen and (max-width: 768px) {
    .tile-container > section {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.expand-button {
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.expand-button:hover {
    background-color: #555;
}

.tile.active {
    flex: 0 0 100%;
    max-width: 100%;
    transition: flex 0.3s, max-width 0.3s;
}

@media screen and (max-width: 768px) {
    .tile.active {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
